{% extends '_base.html' %}


{% block page_title %} جزِئیات کتاب {{ book.title }} {% endblock page_title %}


{% block page_content %}
    <h1>{{ book.title }}</h1>
    <h3>{{ book.author }}</h3>
    <p>{{ book.description }}</p>    
    <h4>{{ book.price }}</h4>
    <a class="btn btn-success" href="{% url 'book_update' book.id %}">ویرایش کتاب</a>
    <a href="{% url 'book_delete' book.id %}"><button class="btn btn-info" type="button">حذف</button></a>
    <a href="{% url 'book_list' %}"><button class="btn btn-secondary" type="button">نمایش همه کتاب ها</button></a>
{% endblock page_content %}